# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\j2ee小组作业\air_ticket_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
